<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание задачи</title>
</head>
<body>
<form method="post">
    <label for="taskName">Имя:</label>
    <input type="text" id="taskName" name="taskName" />

    <label for="taskDescription">Пароль:</label>
    <input type="text" id="taskDescription" name="taskDescription" />

    <button type="submit">Отправить</button>

    <p th:text="${message}"/>

    <a href="./mainPage">В главное меню</a>
    <a href="./listTasks">Список задач</a>
</form>
</body>
</html>